<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/jquery.youtube-background.js?v=1.0.8"></script>
    <script src="https://kit.fontawesome.com/7479ec89bb.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../javascripts/materialize.js"></script>
    <script defer type="text/javascript" src="../javascripts/mainScript.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/menu') %>
